#foto{
    width: 200px;
    height: 200px;
}
.navbar{
    background: rgb(0, 0, 0);
}


/*-- index/inicio*/
body {
  background-color: #f8f9fa; /* Fondo claro */
  color: #343a40; /* Color del texto */
}
header {
  margin-bottom: 20px; /* Espacio entre el encabezado y el contenido */
}
main {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar horizontalmente */
  justify-content: center; /* Centrar verticalmente */
  height: 70vh; /* Altura del main */
  text-align: center; /* Centrar el texto */
}
footer {
  background-color: #343a40; /* Fondo oscuro para el pie de página */
  color: white; /* Texto blanco */
  text-align: center; /* Centrar el texto del pie de página */
  padding: 10px 0; /* Espaciado vertical */
  position: relative;
  bottom: 0;
  width: 100%;
}
h2 {
  margin: 10px 0; /* Espacio entre los encabezados */
}










        /*-- contacto --*/

      .resultado-formulario {
          background-color: #f8f9fa;
          padding: 20px;
          margin: 20px auto;
          max-width: 600px;
          border: 1px solid #e0e0e0;
          border-radius: 5px;
          display: none;
      }
      h2 {
          text-align: center;
          color: #007bff;
      }
      .campo {
          font-weight: bold;
          color: #333;
      }
      .form-container {
          background-color: #ffffff;
          padding: 20px;
          margin: 20px auto;
          max-width: 600px;
          border: 1px solid #e0e0e0;
          border-radius: 5px;
      }
      .btn-primary {
          width: 100%;

         
          
      }
      p,
      label {
        font:
          1rem 'Fira Sans',
          sans-serif;
      }
      
      input {
        margin: 0.4rem;
      }
      