/* Estilos globales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('./img/fondo.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}

/* Header */
header {
  background-color: #202020;
  padding: 0px;
}
#encabezado_Contacto { 
  position: sticky; 
  top: 0; 
  padding: 10px 0;
  width: 100%; 
  box-shadow: 0; 
  z-index: 1000;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.2);
  text-align: center; 
  text-shadow:  2px 2px 5px #000000; 
}
#Titulo{
  color: #007bff;
}
/*Navegacion*/
.navbar{
  width: 100%;
}
.navbar-brand, .nav-link {
  color: grey;
  font-size: 1,2rem;
}

.nav-link:hover {
  color: #007bff;
}

/* Formulario */
.form-container {
  max-width: 600px;
  margin: 30px auto;
  background-color:grey;
  padding: 20px;
  border: 1px solid #007bff;
  border-radius: 5px;
}
/* Ajuste de márgenes y espaciado */
.contact-preference, .subscription-type {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 20px 0;
  border-radius: 5px;
  
}

/* Etiquetas de formulario */
.contact-preference label, .subscription-type label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Opciones alineadas horizontalmente */
.form-check {
  display: inline-block;
  margin-right: 20px;
}

/* Botones */
button {
  display: block;
  width: 100%;
  margin-top: 20px;
}

/* Resultado del formulario */
.resultado-formulario {
  background-color: grey;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  border: 1px solid #202020;
  border-radius: 5px;
  display: none; 
}

.resultado-formulario h2 {
  color: #3498db;
  text-align: center;
}

/* Tabla de datos */
table.cuadro {
  border-collapse: collapse;
  width: 60%;
  margin: 0 auto;
  background-color: #333;
  color: #fff;
}

table.cuadro, .cuadro th, .cuadro td {
  border: 1px solid #666;
  padding: 10px;
  text-align: left;
}

.cuadro th {
  background-color: #444;
  color: #bbb;
  font-weight: bold;
}

.cuadro td:first-child {
  font-weight: bold;
}
      
/* Cambia el color de fondo al pasar el cursor */
.back-to-top:hover {
    background-color: #0056b3;
}

/* Footer */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #202020;
  color: #ffffff;
  font-size: 20px;
}

footer img {
  width: 70px; 
  height: 70px;
}

footer p {
  margin: 0;
  text-align: center;
  width: 100%;
  color: white;
}
/* Estilos para el botón de la flecha */
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color:#007bff; 
  color: #fff;              
  font-size: 24px;
  border-radius: 50%;        
  text-decoration: none;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.3s;    
}